.navbar-container{
    background-color: #FFCC00;
    height: 3%;
    font-size: 1vh;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.income-section{
    margin-left: 5%;
    text-align: center;
    color: black;
}


