.navbar-container {
    background-color: #FFCC00;
    height: 3%;
    font-size: 1vh;
    font-weight: 700;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.income-section {
    margin: 0 10%;
    text-align: center;
    color: black;
}
