*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    
}

.app-container{
    height: 100vh;
    width: 100vw;
}

.body-container{
    background-color: blue;
    height: 82%;
    display: flex;
    
}